.App {
  text-align: center;
}

body {
  background-color: #f3eac2;
}

h1,
h2 {
  color: #ec524b;
  font-family: "Bree Serif", serif;
  text-shadow: 2px 2px 3px #f5b461;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

button {
  padding: 5px;
  border-radius: 3px;
  font-family: "Bree Serif", serif;
  border-style: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.flex-column {
  flex-direction: column;
}
