.ProductDetail {
  margin: auto;
  width: auto;
  height: auto;
  justify-content: center;
}
.ProductDetail .details {
  margin: 10px 20px;
  text-align: center;
}

.ProductDetail button {
  background-color: #9ad3bc;
  color: black;
  font-family: "Bree Serif", serif;
  width: 100%;
  bottom: 0px;
  margin: 20px 0px;
  outline-style: none;
}

.ProductDetail-container {
  margin: 10px;
  justify-content: center;
}
